.loadingProfile {
    position: relative;
    background-image: url('./images/loading.gif');
    background-repeat: no-repeat;
    /* width: 100%; */
    display:inline-block;
    height: 100%;
    background-position: 50% 50%;
    background-size: 30px;
  }

  .profileImg {
    width:220px;
    height: 200px;

  }

  .profileText {
    margin: 10px 0 5px;
    font-size: .8em;
    color: gray;
    font-style: italic;
  }

  .userIcon {
    width:200px;
    height: 200px;
    opacity: .8;
  }