.loadingProfile {
    position: relative;
    background-image: url('./images/loading.gif');
    background-repeat: no-repeat;
    /* width: 100%; */
    display:inline-block;
    height: 100%;
    background-position: 50% 50%;
    background-size: 30px;
  }