
table {
    background-color: hsl(0, 0%, 89%, .4);
    padding: 20px;
    border-color: lightskyblue;
}

tr:hover {
    cursor: pointer;
}

i.tixListIcon {
    font-size: 1.3em;
    text-align: center;
    padding-left: 10px;
}


@media screen and (max-width: 767px) {
    th, td {
        font-size: .8em;
    }
  }
@media screen and (max-width: 425px) {
    th, td {
        font-size: .6em;
    }
  }