a.nav-text {
    font-size: 1.5em;
    padding: 0;
}

a.nav-link {
    text-align: right;
    padding: 10px 0 5px;
}

a.nav-brand-text-admin, a.nav-brand-text {
    margin-right: 20px;
}

a.nav-brand-text-admin {
    color: rgb(2, 150, 2);
}

a.nav-brand-text-admin:hover, a.nav-brand-text:hover {
    color: rgba(0,0,0,.5)
}

@media screen and (max-width: 767px) {
    a.nav-brand-text-admin, a.nav-brand-text {
        margin-right: 0px;
        color: rgba(0,0,0,.5);
    }
    a.nav-brand-text-admin:hover, a.nav-brand-text:hover {
        color: rgba(0,0,0,.9)
    }
  }