.loading {
    position: relative;
    background-image: url('./images/loading.gif');
    background-repeat: no-repeat;
    width: 100px;
    display:inline-block;
    margin: 10px;
    background-position: center;
    background-size: 20px;
  }
  .ImageSubmitBtn {
    text-align: left;
  }

  .tixImages:hover {
    cursor: pointer;
  }

  .file-input {
    overflow-wrap: break-word;
  }

  @media screen and (max-width: 991px) {
    .ImageSubmitBtn {
      text-align: center;
    }
  }
 