.global p {
    margin-bottom: 5px;
}

.detail-container {
    border-bottom: solid 1px lightgray;
    padding-bottom: 5px;
}
.detail-container p {
    font-size: 1.1em;
    margin: 5px 0;
}

.subject-box-wrapper {
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: solid 1px lightgray;
}
.detail-box-wrapper {
    background: white;
    min-height: 100px;
    border-radius: 5px;
    border: solid 1px lightgray;
    padding: 5px 10px;
    margin-bottom: 5px;

}
div.comment-wrapper {
    background: rgb(226, 234, 255, .5);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
div.admin-comment-wrapper {
    background: rgba(226, 255, 228, 0.3);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

p {
    padding: 0;
}

p.comment-text {
    margin:0;
    padding: 0;
}
p.detail-box  {
    background-color: white;
    border-radius: 5px;
    min-height: 100px;
}

p.status-text {
    font-size: 1.5em;
    text-align: right;
}

.loading {
    position: relative;
    background-image: url('./images/loading.gif');
    background-repeat: no-repeat;
    width: 100px;
    display:inline-block;
    margin: 10px;
    background-position: center;
    background-size: 20px;
  }

  .img-del-btn {
      position: absolute;
      bottom: -2px;
      right: -2px;
      border-radius: 5px;
      padding: 2px 5px;
      font-size: small;
  }

  @media screen and (max-width: 767px) {
    p.status-text {
        text-align: left;
    }
  }
 